@font-face {
  font-family: "Gilam", sans-serif;
  src: url(../fonts/GilamDemo-Black.woff2);
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gilam", sans-serif;
  background-color:rgba(23, 23, 23, 1);
  max-width: 1920px;
  padding: 50px 230px;
}
p {
  font-weight: 700;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button {
  border: solid 2px rgba(228, 181, 100, 1);
  font-size: 18px;
  font-stretch: inherit;
  color: rgba(228, 181, 100, 1);
  width: 220px;
  height: 50px;
}
.button a {
  color: rgba(228, 181, 100, 1);
}
h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  margin-top: 125px;
  color: #ffffff;
}
h3 {
  font-weight: 700;
  padding-right: 270px;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #ffffff;
}
.grid-container-networks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  height: 950px;
  color: #ffffff;
  margin-bottom: 40px;
}

.networks1 {
  grid-area: 1 / 1 / 3 / 3;
}
.networks2 {
  grid-area: 1 / 3 / 3 / 5;
}
.networks3 {
  grid-area: 1 / 5 / 3 / 7;
}
.networks4 {
  grid-area: 3 / 1 / 5 / 4;
}
.networks5 {
  grid-area: 3 / 4 / 5 / 7;
}

.networks1 {
  display: flex;
  background: rgba(99, 79, 44, 1);
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.networks2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(180, 163, 133, 1);
  padding: 20px;
}
.networks3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(228, 181, 100, 1);
  padding: 20px;
}
.networks4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(99, 90, 74, 1);
  padding: 20px;
}
.networks5 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(176, 140, 77, 1);
  padding: 20px;
}

.grid-container-technique {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-top: 100px;
  margin-bottom: 240px;
  height: 900px;
  color: #ffffff;
}

.technique1 {
  grid-area: 1 / 1 / 3 / 2;
}
.technique2 {
  grid-area: 1 / 2 / 4 / 3;
}
.technique3 {
  grid-area: 1 / 3 / 3 / 4;
}
.technique4 {
  grid-area: 3 / 1 / 7 / 2;
}
.technique5 {
  grid-area: 4 / 2 / 7 / 3;
}
.technique6 {
  grid-area: 3 / 3 / 5 / 4;
}
.technique7 {
  grid-area: 5 / 3 / 7 / 4;
}
.technique1 {
  background: rgba(14, 14, 14, 1);
  padding: 45px;
}
.technique2 {
  background: rgba(36, 36, 36, 1);
  padding: 45px;
}
.technique3 {
  background: rgba(31, 31, 31, 1);
  padding: 45px;
}
.technique4 {
  background: rgba(31, 31, 31, 1);
  padding: 45px;
}
.technique5 {
  background: rgba(228, 181, 100, 1);
  padding: 45px;
}
.technique6 {
  background: rgba(14, 14, 14, 1);
  padding: 45px;
}
.technique7 {
  background: rgba(14, 14, 14, 1);
  padding: 45px;
}
.header-end {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 10px;
}
.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 780px;
  margin-top: 60px;
  color: #ffffff;
}

.project1 {
  grid-area: 1 / 1 / 2 / 2;
}
.project2 {
  grid-area: 1 / 2 / 2 / 3;
}
.project3 {
  grid-area: 1 / 3 / 2 / 4;
}
.project4 {
  grid-area: 2 / 1 / 3 / 2;
}
.project5 {
  grid-area: 2 / 2 / 3 / 3;
}

.project1 {
  background: #634f2c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.project2 {
  background: rgba(232, 210, 171, 0.76);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}
.project3 {
  background: rgba(228, 181, 100, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.project4 {
  background: rgba(99, 90, 74, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.project5 {
  background: rgba(176, 140, 77, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.project6 {
  background: rgba(99, 79, 44, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
